.title {
    color: greenyellow;
    background-color: blueviolet;
}
.all {
    background-color: black;
    color: white;
}
.h2 {
    color: greenyellow;
    background-color: blueviolet;
}
.h3 {
    color: greenyellow;
    background-color: blueviolet;
}   
.parrafo1 {
    color: greenyellow;
    background-color: blueviolet;
}
.spofifai {
    color: green;
}